<aside class="sidebar">

  <p><i>Tips: Double press CTRL or click the icon in the bottomright to search within the whole blog website. ESC to exit searching.</i></p>
  <script src="/js/jquery-1.7.2.min.js"></script>
  
  <!--<div class="author-info">
    <div style="float: left">
      <img class="gravatar" alt="" src="https://0.gravatar.com/avatar/373c7345b8210faf8e7e5a3a22779ec4?s=192&amp;d=identicon&amp;r=G" >
    </div>
    <div style="float: left; padding-left: 20 px; padding-top: 20 px;">
      <p style="text-align: right"><h2>qiaoxi</h2><p>
    </div>

  </div>
      -->
  

  <h3 id="post-categories">notes</h3>
  <ul class="arc-list">
  {% assign sorted_cat = site.categories | sort %}
  {% for category in sorted_cat %}
      <li><a href="/categories/#{{ category | first }}">{{ category | first }} </a>({{ category | last | size }})</li>
  {% endfor %}  
  </ul>

  <div>
    <p><i>If your are using a low resolution device or viewing via a narrow webbrowser window, you might not see the ToC sidebar.</i></p>
    <br></br>
  </div>
</aside>